/* default.css 
여기는 공통 css 작성
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

html {
    font-size: 20px;
}

body {
    font-family: "나눔고딕", "snas-serif";
}

footer {
    font-family: 'Sriracha', cursive;
}