body {
    /* background: red; */
}

.container {
    position: relative;
    max-width: 1600px;
    /* height: 100vh; */
    margin: 0 auto;
    /* outline: 2px solid red; */
  }
  
  #main_header {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    /* outline: 1px solid red; */
    height: 100vh;
    text-align: center;
    padding-top: 90px;
    /* padding-right: 40px; */
  }

  .header_box {
    width: 100%;
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
    /* outline: 2px solid green; */
  }

  #main_header h1 > img {
    width: 80%;
  }

  /* 시놉시스 팝업 */
#synop_popup {
    position: fixed;
    width: 80%;
    /* height: 428px; */
    overflow: scroll;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    padding: 20px;
    display: none;
  }

  #synop_popup h2 {
      font-size: 22px;
  }

  #synop_popup h2 {
      margin-bottom: 28px;
  }

  #synop_popup p {
      margin-bottom: 1em;
  }